{% load bootstrap3 %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>DJCMS</title>
        
        {% bootstrap_css %}
    </head>
    <body>
        
        {% bootstrap_messages %}

        <div class="container">
            <div class="masthead">
                <h3 class="text-muted"><a href="/">DJCMS</a></h3>
                {% include "header.html" %}  
            </div>

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
            
            <div class="footer">
                <br>
            </div>

        </div>

        {% bootstrap_javascript %}
    </body>
</html>